@tailwind base;
@tailwind components;
@tailwind utilities;

/* .adminBg {
  background: url('./assets/images/adminBg.jpg') no-repeat center center;
  background-size: cover;   
  height: 100vh;       
  width: 100%;          
}
 */

 
/* Global styles */

/* Disable scrolling when modal is open */
.modal-open {
  overflow: hidden;
}

/* Add to your global CSS file */

.modal-open {
  overflow: hidden; /* Prevent background scroll */
}

/* Transparent background overlay with blur effect */
.modal-overlay {
  backdrop-filter: blur(5px); /* Apply blur effect */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}


/* Hide the scrollbar but keep the scroll functionality */
/* Hide the scrollbar but keep the scroll functionality */
/* Hide the scrollbar but keep the scroll functionality */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;  /* For Internet Explorer */
  scrollbar-width: none;     /* For Firefox */
}

.google-button {
  width: 100% !important;
}


/* Light Mode */
body.light {
  background-color: #f8f9fa; /* Light gray background */
  color: #212529; /* Dark text */
}

/* Dark Mode */
body.dark {
  background-color: #121212; /* Dark background */
  color: #ffffff; /* Light text */
}
