@tailwind base;
@tailwind components;
@tailwind utilities;

/* .adminBg {
  background: url('./assets/images/adminBg.jpg') no-repeat center center;
  background-size: cover;   
  height: 100vh;       
  width: 100%;          
}
 */

 
/* Global styles */

/* Disable scrolling when modal is open */
.modal-open {
  overflow: hidden;
}

/* Hide the scrollbar but keep the scroll functionality */
/* Hide the scrollbar but keep the scroll functionality */
/* Hide the scrollbar but keep the scroll functionality */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;  /* For Internet Explorer */
  scrollbar-width: none;     /* For Firefox */
}

